:root {
    --primary-text-color: #757575;
    --title-text-color: #212121;
    --accent-color: #2196F3;
    --primary-white-color: #FFFFFF;
    --secondary-dackground-color: #F5F4FA;
    --footer-color: #2F303A;
    --footer-text-color: rgba(255, 255, 255, 0.6);

}


body {
    background-color: var(--primary-white-color);
    color: var(--primary-text-color);
    font-family: 'Roboto', sans-serif;
    letter-spacing: 0.03em;

}

.under-line {
    background-color: rgba(236, 236, 236, 1);
    height: 1px;
}

.header {
    font-weight: 500;
    font-size: 14px;
    line-height: 1.14;
    letter-spacing: 0.02em;
    text-decoration: none;
}


.main-div {
    display: flex;
    align-items: center;
    height: 80px;
}


.main-nav {
    display: flex;
    align-items: center;
}

.logo {
    margin-right: 93px;
    color: var(--accent-color); 
    font-family: 'Raleway', sans-serif;
    font-weight: 700;
    font-size: 26px;
    line-height: 1.19;
    letter-spacing: 0.03em;
    text-decoration: none;
}
.accent {
    color: var(--title-text-color);
}

.site-nav {
    display: flex;
}

.site-nav li + li {
    margin-left: 50px;
}
 .site-nav .link {
    display: block;
    padding-top: 16px;
    padding-bottom: 16px;
 }

.list-contact {
    display: flex;
    margin-left: auto;
}

.list-contact .contact-link {
    padding-top: 32px;
    padding-bottom: 32px;
    margin-top: 0;
    margin-bottom: 0;
    color: var(--primary-text-color);
    text-decoration: none;
}

.list-contact .item + .item {
    margin-left: 50px;
}

.contact-link:hover, 
.contact-link:focus {
    color: var(--accent-color);
}


/* Герой */
.hero {
    background-color: var(--footer-color);
    text-align: center;
}
.hero h1 {
    padding-top: 200px;
    margin-top: 0;
    margin-bottom: 30px;
    color: var(--primary-white-color);
    font-weight: 900;
    font-size: 44px;
    line-height: 1.36;
    letter-spacing: 0.06em;

}

/* Button */
.button {
    margin-bottom: 200px;

    display: inline-block;
    border-radius: 4px;
    padding: 10px 32px;
    min-width: 200px;
    height: 50px;

    color: var(--primary-white-color);
    background-color: var(--accent-color);

    font-weight: 700;
    font-size: 16px;
    line-height: 1.88;
    text-decoration: none;
    
    cursor: pointer;
    letter-spacing: 0.06em;
    font-family: 'Roboto';
    align-items: center;
    text-align: center;
}

/* Контейнер */
.container {
    margin-left: auto;
    margin-right: auto;
    width: 1200px;
    padding-left: 15px;
    padding-right: 15px;
    /* outline: 2px solid tomato; */
}

.section {
    padding-top: 94px;
    padding-bottom: 94px;
}
.section.no-padding {
    padding-top: 0;
    padding-bottom: 94px;
}

ul {
    list-style: none;
    padding-inline-start: 0;
    margin-top: 0;
    margin-bottom: 0;
    
}
.list-contact {
    margin-top: 0;
    margin-bottom: 0;
}

.section-title {
    margin-top: 0;
    margin-bottom: 50px;
    color: var(--title-text-color);
    font-weight: 700;
    font-size: 36px;
    line-height: 1.17;
    text-align: center;
}

.feature-list {
    display: flex;
}

.feature-list li + li {
    margin-left: 30px;
}

.feature-list p {
    margin-top: 0;
    font-size: 14px;
    line-height: 1.71;

}

.site-nav .link {
    color: var(--title-text-color);
    font-weight: 500;
    font-size: 14px;
    line-height: 1.14;
    text-decoration: none;
}
.site-nav .link.current {
    color: var(--accent-color);
}

.site-nav .link:hover, 
.site-nav .link:focus {
    color: var(--accent-color);
}

.feature-list .title {
    margin-top: 0;
    margin-bottom: 10px;
    color: var(--title-text-color);
    font-weight: 700;
    font-size: 14px;
    line-height: 1.14;
}

.list-img {
    display: flex;
    justify-content: space-between;
}

.list-img img {
    width: 370px;
}

.section-team {
    padding-top: 94px;
    padding-bottom: 94px;
    background-color: var(--secondary-dackground-color);
}

.team-list {
    display: flex;
    justify-content: space-between;
}

.team-list img {
    width: 270px;
}

.team-list .title{
    margin-top: 30px;
    margin-bottom: 10px;
    text-align: center;
    color: var(--title-text-color);
    font-weight: 500;
    font-size: 16px;
    line-height: 1.19;
}
.team-list p {
    margin-top: 0px;
    margin-bottom: 30px;
    text-align: center;
    font-size: 16px;
    line-height: 1.9;
}

.logo-footer {
    
    margin-bottom: 20px;
    
    color: var(--accent-color); 
    font-family: 'Raleway', sans-serif;
    font-weight: 700;
    font-size: 26px;
    line-height: 1.19;
    letter-spacing: 0.03em;
    text-decoration: none;
}


footer {
    background-color: var(--footer-color);
}

.container-footer {
    padding-top:  60px;
    padding-bottom: 60px;
    display: grid;
    margin-left: auto;
    margin-right: auto;
    width: 1200px;
    padding-left: 15px;
    padding-right: 15px;
    /* outline: 2px solid tomato; */
}

.container-footer li {
    padding-top: 9px;
}

footer a {
    text-decoration: none;
}
footer ul a {
    color: var(--footer-text-color);
    font-size: 14px;
    line-height: 1.71;
}
footer .accent {
    color: var(--primary-white-color);
}
address {
    color: var(--primary-white-color);
    font-style: normal;
    font-size: 14px;
    line-height: 1.71;
}
.address-link{
    color: var(--primary-white-color);
}

/* Страница "Портфолио" */

.filter-button {
    display: flex;
    justify-content: center;
    margin-bottom: 50px;
    text-align: center;
}

.filter-button-portfolio {
    background-color: var(--secondary-dackground-color);
    color: var(--title-text-color);
    font-family: 'Roboto';
    font-weight: 500;
    font-size: 16px;
    line-height: 1.63;
    cursor: pointer;
    display: inline-block;
    border-radius: 4px;
    min-width: 73px;
    height: 38px;
    padding: 6px 22px;
    border: none;
}

.filter-button .list-button-portfolio + .list-button-portfolio {
    margin-left: 8px;
}

.filter-button-portfolio:hover, 
.filter-button-portfolio:focus {
    color: var(--primary-white-color);
    background-color: var(--accent-color);
}

.content h2 {
    margin-top: 20px;
    margin-bottom: 4px;
    margin-left: 24px;

    color: var(--title-text-color);
    font-weight: 700;
    font-size: 18px;
    line-height: 2;
    letter-spacing: 0.06em;
}
.content p {
    margin-top: 0px;
    margin-bottom: 20px;
    margin-left: 24px;

    font-size: 16px;
    line-height: 1.9;
}

.content {
    margin: -15px;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}

.list-content {
    margin: 15px;
    width: 370px;
    border: 1px solid rgba(238, 238, 238, 1);
}
